.card_content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  border-radius: 0.375rem;
}

@media screen and (max-width: 991px) {
  .card_content {
    padding: 20px 24px 24px;
  }
}

.card_list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .card_list {
    grid-template-columns: 1fr;
  }
}

.card_item {
  display: flex;
  justify-items: start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.card_title {
  min-width: 40%;
  flex: 0 0 auto;
  font-size: 0.875rem;
  font-weight: 500;
}

.card_info {
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  border-radius: 0.25rem;

  background-color: #f6f6f6;

  color: #4c4c4c;
  font-size: 0.875rem;
}

@media screen and (max-width: 991px) {
  .card_info {
    width: 100%;
  }
}

.card_info.helper {
  border-radius: 0rem;
  opacity: 0.74;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.featured_embed {
  display: none;
}

.card_price {
  display: flex;
  font-size: 1.25rem;
}

.card_price_text {
  line-height: 1;
  font-weight: 600;
}

.card_price_text.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

#w-node-_984a2ce4-27e7-7d0b-c42c-f401711becb0-711beca6 {
}
#w-node-_984a2ce4-27e7-7d0b-c42c-f401711becb4-711beca6 {
}
#w-node-_984a2ce4-27e7-7d0b-c42c-f401711becb5-711beca6 {
}