.card_component {
  display: grid;
  overflow: hidden;
  flex-direction: column;
  justify-items: stretch;
  flex-wrap: nowrap;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-radius: 0rem;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  color: #171717;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .card_component {
    grid-template-columns: 1fr;
  }
}

.card_header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

@media screen and (max-width: 479px) {
  .card_header {
    align-items: flex-start;
  }
}

.card_location {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #747474;
  font-size: 0.8rem;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.card_model {
  display: flex;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  font-size: 1rem;
}

.card_name {
  font-size: 1.25rem;
  font-weight: 600;
}

.card_name.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-width: 0px;
}

.card_image_wrapper {
  position: relative;
  overflow: clip;
  aspect-ratio: 1/1;
  background-color: #4c4c4c;
}

.card_image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card_content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  border-radius: 0.375rem;
}

@media screen and (max-width: 991px) {
  .card_content {
    padding: 20px 24px 24px;
  }
}

.card_list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .card_list {
    grid-template-columns: 1fr;
  }
}

.card_item {
  display: flex;
  justify-items: start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.card_title {
  min-width: 40%;
  flex: 0 0 auto;
  font-size: 0.875rem;
  font-weight: 500;
}

.card_info {
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  border-radius: 0.25rem;

  background-color: #f6f6f6;

  color: #4c4c4c;
  font-size: 0.875rem;
}

@media screen and (max-width: 991px) {
  .card_info {
    width: 100%;
  }
}

.card_info.helper {
  border-radius: 0rem;
  opacity: 0.74;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.featured_embed {
  display: none;
}

.card_price {
  display: flex;
  font-size: 1.25rem;
}

.card_price_text {
  line-height: 1;
  font-weight: 600;
}

.card_price_text.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

#w-node-_7f85e3a8-c432-f83f-9972-65762bda09ed-2bda09ec {
}
#w-node-_7f85e3a8-c432-f83f-9972-65762bda09f7-2bda09ec {
}
#w-node-_7f85e3a8-c432-f83f-9972-65762bda0a03-2bda09ec {
}
#w-node-_7f85e3a8-c432-f83f-9972-65762bda0a07-2bda09ec {
}
#w-node-_7f85e3a8-c432-f83f-9972-65762bda0a08-2bda09ec {
}