.filter_tags {
  display: flex;
  min-height: 3.625rem;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex: 1;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .filter_tags {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .filter_tags {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

.filter_tags_label {
  margin-right: 1rem;
  color: hsla(0, 0.00%, 56.00%, 1.00);
}

.filter_tags_item {
  position: relative;

  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-radius: 0.25rem;

  background-color: #414141;

  color: #a1a1a1;
  font-size: 0.85rem;
  font-weight: 500;
}

.filter_tags_item:hover {
  background-color: #4c4c4c;
}

.filter_tags_item.helper {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 0rem;

  background-color: #e0e0e0;

  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 1px;

  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.filter_tags_text {
  text-transform: capitalize;
}

.filter_tags_text.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.filter_tags_remove {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 1.4rem;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
  padding: 0.325rem;
  flex-direction: column;

  border-radius: 999rem;

  cursor: pointer;
}

.filter_tags_remove.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}