.filter_empty-7 {
  display: flex;
  min-height: 12rem;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 0.375rem;

  background-color: #242424;

  color: #b7b7b7;
  text-align: center;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.filter_empty_icon {
  width: 4rem;
  line-height: 0;
}

.filter_clear-all {
  padding: 0.75rem 1rem;

  border-radius: 0.25rem;

  background-color: #414141;

  color: #a1a1a1;
  text-align: center;
  text-decoration: none;
}

.filter_clear-all:hover {
  background-color: #4c4c4c;
}

.filter_clear-all.helper {
  border-radius: 0rem;
  background-color: #e0e0e0;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
}