.filter_block_header-2 {
  position: relative;
  z-index: 10;

  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  background-color: #e0e0e0;
}

@media screen and (max-width: 991px) {
  .filter_block_header-2 {
    padding-left: 1rem;
    align-items: start;
  }
}

.filter_block_title-6 {
  font-size: 1.125rem;
  font-weight: 600;
}

.filter_clear {
  display: flex;
  height: 100%;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;

  background-color: #414141;

  color: #a1a1a1;
  font-size: 0.875rem;
  text-decoration: none;
}

.filter_clear:hover {
  background-color: #4c4c4c;
}

.filter_clear.helper {
  border-radius: 0rem;
  background-color: #0166b1;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

#w-node-_22442b40-c215-a145-85e8-a0797dd8ef5b-7dd8ef5a {
}