.filter_block-2 {
  position: relative;

  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-radius: 0.25rem;

  background-color: #e0e0e0;
}

.hide {
  display: none;
}

.filter_block_header-2 {
  position: relative;
  z-index: 10;

  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  background-color: #e0e0e0;
}

@media screen and (max-width: 991px) {
  .filter_block_header-2 {
    padding-left: 1rem;
    align-items: start;
  }
}

.filter_block_title-6 {
  font-size: 1.125rem;
  font-weight: 600;
}

.filter_clear {
  display: flex;
  height: 100%;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;

  background-color: #414141;

  color: #a1a1a1;
  font-size: 0.875rem;
  text-decoration: none;
}

.filter_clear:hover {
  background-color: #4c4c4c;
}

.filter_clear.helper {
  border-radius: 0rem;
  background-color: #0166b1;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.filter_list {
  position: relative;

  display: flex;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.filter_list.is-1-col {
  grid-template-columns: 1fr;
}

.checkbox_field-2 {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: #b7b7b7;
  font-size: 1rem;
  font-weight: 400;

  cursor: pointer;
}

.checkbox_field-2:hover {
  color: #e1e1e1;
}

.checkbox_field-2.is-list-emptyfacet {
  opacity: 0.5;
}

.checkbox_field-2.is-list-emptyfacet.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.checkbox_input-2 {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
  margin-right: 0.75rem;
  margin-left: 0px;
  flex: 0 0 auto;

  border: 2px solid #4c4c4c;
}

.checkbox_input-2:global(.w--redirected-checked) {
  border-color: #b9fd3b;
  background-color: #b9fd3b;
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/688f7306722ec3a7e626f251_check-icon-black.png");
  background-size: 0.875rem;
  box-shadow: 1px 1px 3px 0 transparent;
}

.checkbox_input-2:global(.w--redirected-focus) {
  box-shadow: none;
}

.checkbox_input-2:global(.w--redirected-focus-visible) {
  outline-color: #b9fd3b;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}

.checkbox_input-2.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 1px;
}

.checkbox_input-2.helper {
  color: var(--black);
  font-weight: 700;
}

.checkbox_label {
  margin-right: 0.25rem;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.filter_facet-count {
  margin-left: auto;
  font-size: 0.875rem;
}

.filter_facet-count.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 1px;
}

.option-results-2 {
  display: none;
  color: #6e30f7;
}

#w-node-_1cdbd45d-0dd6-9b1a-3fad-90e38d882841-8d88283f {
}