.showcase {
  background-color: var(--black-da195c7f);
  color: var(--white-3b69ab30);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 1.5rem;
}

.container.container--1260 {
  max-width: 1260px;
}

@media screen and (max-width: 991px) {
  .container.container--1260 {
    display: flex;
    flex-direction: column;
  }
}

.container.container--1260.container--1260-powertrain {
  padding-top: 2rem;
}

@media screen and (max-width: 991px) {
  .container.container--1260.container--flex-mid {
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .container.container--1260.container--flex-mid {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.container.container--840 {
  max-width: 840px;
}

.container.container--840.contaiener--840-powertrain {
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .container.container--840.contaiener--840-powertrain {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .container.container--840.contaiener--840-powertrain {
    width: 100%;
  }
}

.container.container--840.contaiener--840-powertrain-2 {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.showcase-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .showcase-grid {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .showcase-grid {
    width: 100%;
  }
}

.showcase__sub-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .showcase__sub-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.showcase-grid__item {
  min-height: 328px;
}

.showcase-grid__item.showcase-grid__img {
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--1 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf0_MS-Interior-Grid-A-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--2 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf2_MS-Interior-Grid-B-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--3 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf3_MS-Interior-Grid-C-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--4 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf1_MS-Interior-Grid-D-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--5 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf9_MS-Exterior-Grid-B-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--6 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdfa_MS-Exterior-Grid-A-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__img.showcase-grid__img--7 {
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/687bbc3b0bb3dd57d6c1fdf8_MS-Exterior-Grid-C-Desktop.jpeg");
}

.showcase-grid__item.showcase-grid__text {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .showcase-grid__item.showcase-grid__text {
    min-height: 200px;
    padding-top: 0rem;
  }
}

.showcase-grid__text {
  max-width: 40ch;
}

@media screen and (max-width: 991px) {
  .showcase-grid__text {
    max-width: 70ch;
  }
}

.showcase-grid__item.showcase-grid__text.showcase-grid__text--left {
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .showcase-grid__item.showcase-grid__text.showcase-grid__text--left {
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_269b903f-5ec8-0003-defb-2bd0ee16f112-ee16f109 {
    order: -9999;
  }
  #w-node-_269b903f-5ec8-0003-defb-2bd0ee16f122-ee16f109 {
    order: -9999;
  }
}