.filter_list {
  position: relative;

  display: flex;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.filter_list.is-1-col {
  grid-template-columns: 1fr;
}

.check_field {
  display: flex;
  margin-bottom: 0px;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-radius: 0.25rem;

  background-color: #313131;

  color: #b7b7b7;
  font-size: 1rem;
  font-weight: 400;

  cursor: pointer;
}

.check_field:hover {
  color: #e1e1e1;
}

.check_field.is-list-active {
  background-color: #b9fd3b;
  color: #171717;
}

.checkbox_input-2 {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125rem;
  margin-right: 0.75rem;
  margin-left: 0px;
  flex: 0 0 auto;

  border: 2px solid #4c4c4c;
}

.checkbox_input-2:global(.w--redirected-checked) {
  border-color: #b9fd3b;
  background-color: #b9fd3b;
  background-image: url("https://cdn.prod.website-files.com/687bbc3b0bb3dd57d6c1fd83/688f7306722ec3a7e626f251_check-icon-black.png");
  background-size: 0.875rem;
  box-shadow: 1px 1px 3px 0 transparent;
}

.checkbox_input-2:global(.w--redirected-focus) {
  box-shadow: none;
}

.checkbox_input-2:global(.w--redirected-focus-visible) {
  outline-color: #b9fd3b;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}

.checkbox_input-2.helper {
  border-radius: 0rem;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 1px;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.checkbox_input-2.helper {
  color: var(--black);
  font-weight: 700;
}

.checkbox_label {
  margin-right: 0.25rem;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.option-results-2 {
  display: none;
  color: #6e30f7;
}