.filter_block-2 {
  position: relative;

  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border-radius: 0.25rem;

  background-color: #e0e0e0;
}

.hide {
  display: none;
}

.filter_block_header-2 {
  position: relative;
  z-index: 10;

  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  background-color: #e0e0e0;
}

@media screen and (max-width: 991px) {
  .filter_block_header-2 {
    padding-left: 1rem;
    align-items: start;
  }
}

.filter-block-label {
  margin-bottom: 0px;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
}

.filter_clear {
  display: flex;
  height: 100%;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;

  background-color: #414141;

  color: #a1a1a1;
  font-size: 0.875rem;
  text-decoration: none;
}

.filter_clear:hover {
  background-color: #4c4c4c;
}

.filter_clear.helper {
  border-radius: 0rem;
  background-color: #0166b1;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 0px;
  outline-width: 0px;
}

.helper {
  border-radius: 0.25rem;
  outline-color: #00e4ff;
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.filter_list {
  position: relative;

  display: flex;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.filter_list.is-1-col {
  grid-template-columns: 1fr;
}

.filter_select-2 {
  min-height: 3.6rem;
  margin-bottom: 0px;
  padding-right: 1rem;
  padding-left: 1rem;

  border: 1px none black;
  border-radius: 0.25rem;

  background-color: #414141;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 1rem;

  cursor: pointer;
}

.filter_select-2.helper {
  border-radius: 0rem;
  background-color: #e0e0e0;
  outline-color: hsla(186.3529411764706, 0.00%, 0.00%, 1.00);
  outline-offset: 1px;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

#w-node-_8a12bcec-63f4-ffd5-e610-85140b0acc24-0b0acc24 {
}